*, *:before, *:after{
    padding : 0;
    margin : 0;
    box-sizing : border-box;
  }

  body{
      margin-top: 28px;
  }

/* PAGE DÉCOUVERTE */

.margin28px{
    margin-left: 28px;
    margin-right: 28px;
}

/*search block */
.search-bar{
  background-color: var(--block-color);
  width: 100%;
  border-radius: 20px;
  margin-bottom: 28px;
}
.search-bar .texte-courant{
  color: var(--ic-color);
  margin-bottom: 0px;
}

.search-bar .ic-search_unactive{
  margin: 6px;
}

.search-bar__block{
  display: inline-block;
  vertical-align: middle;
}
/**/

/*carrousel dernières sorties*/
.container-suggestions{
    position: relative;
    background: transparent;
    height: 400px;
    width: 100%;
    margin-bottom: 28px;
  }
  
  .background-suggestions{
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-left: 28px;
    margin-right: 28px;
    background: var(--block-color);
    height: 400px;
    border-radius: 5px;
  }
  
  .container-carrousel{
    position: absolute;
    width: 100%;
    padding: 20px;
    background: transparent;
    overflow-x: scroll;
  }
  
  .container-carrousel__wider{
    width: 900px;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
  }
  
  .container-carrousel__book {
    background-size: cover;
    width: 120px;
    height: 160px;
    margin-right: 10px;
  }
  /**/

  .background-suggestions_text{
    text-align: center;
    margin: 203px 30px 0 30px;
  }
  
  .background-suggestions__container-button{
    display: flex;
    justify-content: center;
    margin: 25px;
  }

  /*carrousel suggestions*/
  
.container-sugg{
    background: transparent;
    height: auto ;
    width: 100%;
    margin-bottom: 28px;
    padding: 0 20%;  
    overflow-x: scroll;
}

.container-sugg__wider{
    width: 900px;
    height: ;
    display: flex;
    flex-direction: row;
}

.container-sugg__group{
    position: relative;
    height: auto;
    width: 230px;
    background-color: transparent;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 30px;
}

.container-sugg__résumé{
    margin-top: ;
    text-align: center;
}

.container-sugg__container-button{
    display: flex;
    justify-content: center;
    margin: 20px;
}

.container-sugg__book{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 160px;
    margin-bottom: 12px;

}

.container-sugg__block-background {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0px;
    height: 300px;
    width: 100%;
    border-radius: 5px;
    background-color: var(--block-color);
    z-index: -1;
}

.call-to-action__question {
    margin-top: 100px;
    text-align: center;
}

.call-to-action__text{
    text-align: center;
}

.positionneur{
    position: relative;
}

.positionneur__bulles{
    position: absolute;
    top: -80px;
    width: 100%;
}


