:root{
    --noir: #000000;
  
    --title_size_h1: 20px;
    --title_size_h2: 20px;
    --title_size_h3: 16px;
    --title_size_h4: 14px;
  
    --texte_color: #444444;
  
    --ic-color: #AAAAAA;

      --primary-color: #DF5148;
      --secondcouleur: #FFFFFF;
      --troisiemecouleur: #444444;
  }

body{
  padding: 28px;
}
  

.top{
  text-align: center;
  margin-bottom: 48px;
}

.sections{
  margin-bottom: 48px;
}

.Sections{
 margin-left:4rem;
 font-family:'Varela Round', sans-serif;
    
}

.sections__left-section{
  float: left;
}

.sections__right-section{
  float: right;
}

.lien--btn{
  color:var(--primary-color);
  margin-left:2rem;
  font-family:'Varela Round', sans-serif;

}

.lien--btn:active{
  color:var(--troisiemecouleur);
   
}

a{
    text-decoration: none;
    color:var(--troisiemecouleur);    

}

a:active{
   color:var(--primary-color); 
}

.btn--primary{
background-color:var(--primary-color); 
font-family:'Varela Round', sans-serif;
color: var(--secondcouleur);
font-size: 14px;
padding: 0.5rem; 
border-radius: 10px; 
border:var(--primary-color) solid 1px;
margin: 0.25rem;
margin-top:2rem
}

.btn--full--width{
  width: 100%; 
}

.btn--primary:active{
background-color:var(--secondcouleur); 
font-family:'Varela Round', sans-serif;
color:var(--primary-color);
font-size: 14px;
padding: 0.5rem; 
border-radius: 10px; 
border:var(--primary-color) solid 1px;
border-width: 2px;
margin: 0.25rem;
}


.image1{
    width:300px;
    margin-top:3rem;
}

.image2{
    width:300px;
    margin-top:3rem;
}
.image3{
    width:300px;
    margin-top:3rem;
}

/* SORTE DE GUI */

  .Title_1 {
      font-family: 'Varela Round', sans-serif;
      font-size: var(--title_size_h1);
      text-transform: uppercase;
      color: var(--texte_color);
    }
    
  .Title_2 {
      font-family: 'Varela Round', sans-serif;
      font-size: var(--title_size_h2);
      color: var(--texte_color);
      margin-top:2rem;
    }
    
  .Title_3 {
      font-family: 'Varela Round', sans-serif;
      font-size: var(--title_size_h3);;
      color: var(--texte_color);
    }
    
  .Title_4 {
      font-family: 'Varela Round', sans-serif;
      font-size: var(--title_size_h4);
      color: var(--noir);
    }
    
  .texte-courant {
    font-family: 'Varela Round', sans-serif;
    font-size: var(--title_size_h4);
    color: var(--texte_color);
  }
  
  .ic-disco_unactive {
    background: white
    url("img/ic-sprite.svg") 0px 0px;
    width: 26px;
    height: 26px; 
  }
  .ic-disco_active {
    background: white
    url("img/ic-sprite.svg") 0px -54px;
    width: 26px;
    height: 26px; 
  }
  
  .ic-read_unactive {
    background: white
    url("img/ic-sprite.svg") -27px 0px;
    width: 26px;
    height: 26px; 
  }
  .ic-read_active {
    background: white
    url("img/ic-sprite.svg") -27px -54px;
    width: 26px;
    height: 26px; 
  }
  
  .ic-search_unactive {
    background: white
    url("img/ic-sprite.svg") -54px 0px;
    width: 26px;
    height: 26px; 
  }
  .ic-search_active {
    background: white
    url("img/ic-sprite.svg") -54px -54px;
    width: 26px;
    height: 26px;
  }
  
  .ic-perso_unactive {
    background: white
    url("img/ic-sprite.svg") -81px 0px;
    width: 26px;
    height: 26px; 
  }
  .ic-perso_active {
    background: white
    url("img/ic-sprite.svg") -81px -54px;
    width: 26px;
    height: 26px;
  }
  
  .ic-tog-open_unactive {
    background: white
    url("img/ic-sprite.svg") 0px -27px;
    width: 26px;
    height: 26px; 
  }
  .ic-tog-open_active {
    background: white
    url("img/ic-sprite.svg") 0px -81px;
    width: 26px;
    height: 26px;
  }
  
  .ic-tog-closed_unactive {
    background: white
    url("img/ic-sprite.svg") -27px -27px;
    width: 26px;
    height: 26px; 
  }
  .ic-tog-closed_active {
    background: white
    url("img/ic-sprite.svg") -27px -81px;
    width: 26px;
    height: 26px;
  }
  
  .ic-prev_unactive {
    background: white
    url("img/ic-sprite.svg") -54px -27px;
    width: 26px;
    height: 26px; 
  }
  .ic-prev_active {
    background: white
    url("img/ic-sprite.svg") -54px -81px;
    width: 26px;
    height: 26px;
  }
  
  .ic-param_unactive {
    background: white
    url("img/ic-sprite.svg") -81px -27px;
    width: 26px;
    height: 26px; 
  }
  .ic-param_active {
    background: white
    url("img/ic-sprite.svg") -81px -81px;
    width: 26px;
    height: 26px;
}