:root{
    --noir: #000000;
  
    --title_size_h1: 20px;
    --title_size_h2: 20px;
    --title_size_h3: 16px;
    --title_size_h4: 14px;
  
    --texte_color: #444444;
  
    --ic-color: #AAAAAA;

    --primary-color: #DF5148;
    --secondcouleur: #FFFFFF;
    --troisiemecouleur: #444444;
    --quatriemecouleur:#D3D3D3;
  }


body{
    padding:28px;
}
  

.top{
  text-align: center;
  margin-bottom: 48px;
}

.sections{
  margin-bottom: 48px;
}

.Sections{
 margin-left:4rem;
 font-family:'Varela Round', sans-serif;
    
}

.sections__left-section{
  float: left;
}

.sections__right-section{
  float: right;
}


/* Bouton et liens */ 

.lien--btn{
  color:var(--primary-color);
  margin-left:2rem;
  font-family:'Varela Round', sans-serif;

}

.lien--btn:active{
  color:var(--troisiemecouleur);
   
}

a{
    text-decoration: none;
    color:var(--troisiemecouleur);    

}

a:active{
   color:var(--primary-color); 
}

.btn--primary{
background-color:var(--primary-color); 
font-family:'Varela Round', sans-serif;
color: var(--secondcouleur);
font-size: 14px;
padding: 0.5rem; 
border-radius: 10px; 
border:var(--primary-color) solid 1px;
margin: 0.25rem;
margin-top:2rem
}

.btn--full--width{
  width: 100%; 
}

.btn--primary:active{
background-color:var(--secondcouleur); 
font-family:'Varela Round', sans-serif;
color:var(--primary-color);
font-size: 14px;
padding: 0.5rem; 
border-radius: 10px; 
border:var(--primary-color) solid 1px;
border-width: 2px;
margin: 0.25rem;
}


.btn--secondary{
  background-color:var(--secondcouleur);
  font-family:'Varela Round', sans-serif;
  color:var(--primary-color);
  font-size: 14px;
  padding: 0.5rem; 
  border-radius: 10px; 
  border:var(--primary-color) solid 1px;
  margin: 0.25rem;
  margin-left:2rem;
}

.btn--secondary:active{
  background-color:var(--secondcouleur);
  font-family:'Varela Round', sans-serif;
  color:var(--troisiemecouleur);
  font-size: 14px;
  padding: 0.5rem; 
  border-radius: 10px; 
  border:var(--troisiemecouleur) solid 1px;
  margin: 0.25rem;
}


/*Image de la page mon espace */ 

.image1{
    width:300px;
    margin-top:3rem;
}

.image2{
    width:300px;
    margin-top:3rem;
}
.image3{
    width:300px;
    margin-top:3rem;
}


/* Page détail des statistiques */ 

.pourcentage{
    width:90px; 
    position:absolute;
    margin-left:-8rem;
}


.info{
    margin-top:3rem;
    margin-bottom:3rem;
    font-family:'Varela Round', sans-serif;  
    font-size: 14px;
    margin-left:8rem;
}



.detail{
background-color:var( --quatriemecouleur); 
font-family:'Varela Round', sans-serif;
color: var(--troisiemecouleur);
font-size: 14px;
padding: 0.8rem; 
margin: 0.25rem; 
}

.heure{
  margin-left:10rem; 

}


.imgtemps{
    width:80px;
    
}


/* Mon espace bibliothèque */ 

.image__livre{
    width:100px;
    display:flex; 
    flex-direction: column;
    margin-top:1rem;
    margin-bottom:1rem;
}


.book{
    display: none;
}
.book.open{
    display: block;
}

.text{
    position:absolute;
    display: flex; 
    flex-direction:column;
    margin-left:7rem;
    margin-top:-9rem;
    font-family:'Varela Round', sans-serif;
    font-size: 13px;
    color: var(--troisiemecouleur);
    
}

.livre--lien{
    position:absolute;
    display: flex; 
    flex-direction:column;
    margin-left:7rem;
    margin-top:-3rem;
    
}

.Sections-livre{
    font-family:'Varela Round', sans-serif; 
    font-size:15px;
    margin-top:3rem;
    margin-left:5rem;
}


.Sections__left{
    border-right:var(--troisiemecouleur) solid 1px;
    color: var(--troisiemecouleur);
    padding:0.25rem;
 
}

.Sections__middle{
    border-left:var(--secondcouleur) solid 1px;
    border-right:var(--troisiemecouleur) solid 1px;
    color: var(--troisiemecouleur);
    padding:0.5rem;

   
}


/* Mes lectures simultanées */ 

.text--simul{
    display: flex; 
    font-family:'Varela Round', sans-serif;
    font-size: 13px;
    color: var(--troisiemecouleur);
}

.rouge{
    color:var(--primary-color);
}

.simul{
    width:300px;
}


/* Livre en cours */ 

.histoirevraie{
    width:150px;
    margin-left:5rem;
}

.information--livre{
    display:flex; 
    flex-direction: column;
    text-align: center;
    font-family: 'Varela Round', sans-serif;
    color: color: var(--texte_color); 
}

.resum{
    font-family: 'Noto Serif', sans-serif;
    font-size: 12px;
    
}

/* Livre en cours notification */

.ecrangris{
opacity: 0.2;
/*background-color: red;
width: 100%;
height: auto;
position: fixed;
top: 0;
left: 0;
*/

}

.notif{
  padding:2rem;
  width:230px; 
  background-color:whitesmoke;
  position: absolute; 
  margin-top:8rem;
  opacity: 1;
}

.Lexy{
  font-family: 'Varela Round';
  font-size:14px; 
  text-align:center; 
}

.span--typo{
  font-family: 'Varela Round';
  font-size:12px; 
  text-align:center; 
}

.bleu{
  font-family: 'Varela Round';
  font-size:14px; 
  text-align:center; 
  text-decoration:none; 
  color: blue; 
  margin-left:3rem; 
}


/* Formulaire */ 

.formulaire{
	position: relative;
}

.formulaire--select {
	position: relative; 
	background-color: white;
	border: #D6EFF8 1px solid;
    border-radius: 8px; 
	margin: 0 0 1.5em 0;
  

}

.formulaire--select select {
	appearance: none;
	width: 130%; 
	height: auto;
	border: 0; 
	margin: 0;
	padding: 0.5rem;
	border-radius: 6px;
    font-family: 'Varela Round';
    font-size: 14px;
    border-width: 1px; 
    appearance: none; 
	
}


.formulaire--select::after {
	content: '';
	position: absolute;
	top: 50%; 
	margin-top: -3px;
	right: .75em;  
	display: block; 
	border-color: transparent;
	border-top-color: #444; 
	border-width: 6px;
	border-style: solid;
	pointer-events: none;
}

label{
  font-family:"Varela Round";
  font-size:14px;
  display: flex;  
  text-align: left;
  margin-bottom:1rem;
}

.rappel{
    font-family: 'Varela Round';
    margin-right:9rem;
    
}

/* SORTE DE GUI */

  .Title_1 {
      font-family: 'Varela Round', sans-serif;
      font-size: var(--title_size_h1);
      text-transform: uppercase;
      color: var(--texte_color);
    }
    
  .Title_2 {
      font-family: 'Varela Round', sans-serif;
      font-size: var(--title_size_h2);
      color: var(--texte_color);
      margin-top:2rem;
    }
    
  .Title_3 {
      font-family: 'Varela Round', sans-serif;
      font-size: var(--title_size_h3);;
      color: var(--texte_color);
      margin-top:2rem;
    }
    
  .Title_4 {
      font-family: 'Varela Round', sans-serif;
      font-size: var(--title_size_h4);
      color: var(--noir);
      margin-top:2rem;
    }
    
  .texte-courant {
    font-family: 'Varela Round', sans-serif;
    font-size: var(--title_size_h4);
    color: var(--texte_color);
  }
  
  .ic-disco_unactive {
    background: white
    url("img/ic-sprite.svg") 0px 0px;
    width: 26px;
    height: 26px; 
  }
  .ic-disco_active {
    background: white
    url("img/ic-sprite.svg") 0px -54px;
    width: 26px;
    height: 26px; 
  }
  
  .ic-read_unactive {
    background: white
    url("img/ic-sprite.svg") -27px 0px;
    width: 26px;
    height: 26px; 
  }
  .ic-read_active {
    background: white
    url("img/ic-sprite.svg") -27px -54px;
    width: 26px;
    height: 26px; 
  }
  
  .ic-search_unactive {
    background: white
    url("img/ic-sprite.svg") -54px 0px;
    width: 26px;
    height: 26px; 
  }
  .ic-search_active {
    background: white
    url("img/ic-sprite.svg") -54px -54px;
    width: 26px;
    height: 26px;
  }
  
  .ic-perso_unactive {
    background: white
    url("img/ic-sprite.svg") -81px 0px;
    width: 26px;
    height: 26px; 
  }
  .ic-perso_active {
    background: white
    url("img/ic-sprite.svg") -81px -54px;
    width: 26px;
    height: 26px;
  }
  
  .ic-tog-open_unactive {
    background: white
    url("img/ic-sprite.svg") 0px -27px;
    width: 26px;
    height: 26px; 
  }
  .ic-tog-open_active {
    background: white
    url("img/ic-sprite.svg") 0px -81px;
    width: 26px;
    height: 26px;
  }
  
  .ic-tog-closed_unactive {
    background: white
    url("img/ic-sprite.svg") -27px -27px;
    width: 26px;
    height: 26px; 
  }
  .ic-tog-closed_active {
    background: white
    url("img/ic-sprite.svg") -27px -81px;
    width: 26px;
    height: 26px;
  }
  
  .ic-prev_unactive {
    background: white
    url("img/ic-sprite.svg") -54px -27px;
    width: 26px;
    height: 26px; 
  }
  .ic-prev_active {
    background: white
    url("img/ic-sprite.svg") -54px -81px;
    width: 26px;
    height: 26px;
  }
  
  .ic-param_unactive {
    background: white
    url("img/ic-sprite.svg") -81px -27px;
    width: 26px;
    height: 26px; 
  }
  .ic-param_active {
    background: white
    url("img/ic-sprite.svg") -81px -81px;
    width: 26px;
    height: 26px;
}