/* code carroussel Ulysse */

.container-suggestions{
    background: transparent;
    height: 400px;
    width: 100%;
    margin-bottom: 28px;
  }
  
  .container-carrousel{
    width: 100%;
    padding: 20px;
    background: transparent;
    overflow-x: scroll;
  }
  
  .container-carrousel__wider{
    width: 650px;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
  }
  
  .container-carrousel__book {
    background-size: cover;
    width: 160px;
    height: 240px;
    margin-right: 10px;
  }
  
  ::-webkit-scrollbar {
    display: none;
  }
  
  .container-carrousel__avancée{
    margin-top: 18px; 
    text-align: center;
    color: red;
  }